<form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <h3>{{title}}</h3>
    <label>User Name: </label>
    <input formControlName="username" type="email" class="inputWidth">
    <br>
    <label>Password:</label>
    <input formControlName="password" type="password" class="inputWidth">
    <br>
    <button type="submit" [disabled]="!authForm.valid"> {{buttonTitle }}</button>
    <footer>
        <div *ngIf="authType == 'register'">
            Already have an account?
            <a routerLink="/login" routerLinkActive="active">
                LogIn
            </a>
        </div>
        <div *ngIf="authType == 'login'">
            Don't have an account yet?
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </footer>
</form>