<a *appIsAuthenticated="true" routerLink="/customer/add" style="margin-left:10px;">
    ADD NEW</a>
<hr>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>
            <a routerLink="/customer/details/{{customer._id}}">View</a> |
            <a *appIsAuthenticated="true" routerLink="/customer/edit/{{customer._id}}">Edit</a> |
            <a *appIsAuthenticated="true" routerLink="/customer/delete/{{customer._id}}">Delete</a>
        </td>
    </tr>
</table>